.navbar-default {
  background-color: #0E000B;
}

.jumbotron {
  background-image: url("../images/pnk_mnts.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.jumbo_text {
  color: #fff !important;
}
